body {
    margin: 32px;
}

h1,
h2,
h3,
p {
    font-family: 'calibri';
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
    color: rgb(255, 217, 0);
}

h3 {
    font-size: 24px;
    font-weight: normal;
}

p {
    font-size: 16px;
    font-weight: normal;
}

.loader {
    border: 16px solid lightyellow;
    border-top: 16px solid rgb(255, 217, 0);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}